@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.container{
  margin: auto;
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #eeeee4;
}

header .topsection{

}
@theme{
  --color-brand : #FC8A06;
  --color-primary : #ff5252;
  --color-secondary : #F5F5F5;
  --color-third : #F3F9FB;
  --color-theme : #fff;
  --font-primary:"Montserrat", sans-serif;
}

.link:hover{
  color: #FC8A06;
}

.MuiBadge-badge{
  background-color: #FC8A06 !important;
}

nav ul button:hover{
  background: none !important;
}